<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <title>App Status</title>
  <script> 
    $(function(){
      $("#webStatus").load("static/"); 
    });
  </script>
</head>
<body>
  web: <div id="webStatus"></div><br>
  app: <div id="appStatus"><%= app %></div><br>
  db: <div id="dbStatus"><%= db %></div>
</body>
